/*FILE FOR WIDE SCREEN*/
:root {
    --font-family-01: "Roboto";
    --font-family-02: "Open Sans";
    --font-family-03: "Poppins";
  
    --color-01: #ffffff;
    --color-02: #000000;
    --color-03: #1E4AC4;
    --color-04: #BC0E0E;
}

@media only screen and (min-width: 38rem) {
    #myButton {display: none;} /*This will make our hamb menu close for wide screen*/

    ul.menuLinks, ul.menuLinks.open {
        display: flex; 
        justify-content: end;} /*Will organize our menu links in the and of the bar*/

    ul.menuLinks a:hover {background-color: rgba(255,255,255,0.2);}

    .company-name {font-size: 1.7rem; color: var(--color-01); text-align: left;}

    header {background-color: var(--color-03);}

    footer {
        background-color: var(--color-04); 
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 1rem;
    }
    
    .footer-info {padding: 20px; text-align: left;}
    
    .footer-js {padding: 20px; text-align: right;}
    
    #currentYear, #lastModified, p {color: var(--color-01);}
    
    #lastModified {font-weight: 700; color: var(--color-01);}

    .footer-social {
        display: flex;
        justify-content: center; /*Place the icons in the center horizontally.*/
        gap: 20px; /*Space between the icons */
        padding: 10px 0;
        margin-top: 16px;
    }
    
    .social-icon {
        color: var(--color-01);
        font-size: 2rem; /* Icons' size */
        transition: color 0.3s ease;
        text-decoration: none;
    }
    
    .social-icon:hover {
        color: var(--color-02);
    }

    nav {grid-template-rows: 1fr;}


    /*Slideshow container*/
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    /* Hide the images by default */
    .my-slides {display: none;}

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {right: 0; border-radius: 3px 0 0 3px;}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {background-color: rgba(0,0,0,0.8);}

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {background-color: #717171;}

    /* Fading animation */
    .fade {animation-name: fade; animation-duration: 1.5s;}

    @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    }

    /*learn more button, h1 and p*/
    .company {text-align: center; color: var(--color-01);}
    .join-group {font-size: 15px;}
    .button-more-info {margin-left: 42%;}

    /*EVENT, WEATHER AND FORECAST SECTION*/
    
}