/*THIS CSS FILE IS FOR SMALL DEVICES*/

* {padding: 0; margin: 0; box-sizing: border-box;}

:root {
    --font-family-01: "Roboto";
    --font-family-02: "Open Sans";
    --font-family-03: "Poppins";
  
    --color-01: #ffffff;
    --color-02: #000000;
    --color-03: #1E4AC4;
    --color-04: #BC0E0E;
}


/******************HEADER, TITLE AND LOGO IMG******************/
header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    align-items: end;
    background-color: var(--color-01);
    padding: 0.4rem;
    align-items: center;
}

.company-name {
    font-family: var(--font-family-03); 
    font-size: 1.2rem;
    color: var(--color-02);
    padding: 1rem;
    text-align: center;
    font-weight: 600;
}


/******************NAVIGATION TAGS******************/
nav {background-color: var(--color-04);}

.logo-img {margin: 10px;}

#myButton::before {content: "=";}

#myButton {
    font-size: 2rem; /*making the hamburger button bigger*/
    background: none;
    border: none;
    color: var(--color-04);
    cursor: pointer;
    width: 100%;
    text-align: right; /*Will be able to chage the ham button to left or right*/
    padding: .25rem 2vw; /*also will help in the size of the button. Min size is 320x47*/
}

ul.menuLinks li a { /*Will change all the default color of my links in the nav bar*/
    display: block;
    padding: .75rem 2vw;
    color: var(--color-01);
    text-decoration: none;
    font-family: var(--font-family-03);
}

li.current-menu-item a {background-color: rgb(0,0,0,0.2);} /*darker backgrouund in the current page*/
ul.menuLinks {list-style-type: none;} /*Will hide my menu for small devices. Also the list style will hide the dots for wide screen*/


/******************CSS FOR OPEN HAMBURGER BUTTON******************/
#myButton.open::before {content: "x";}

/*ANIMATED TRANSITION*/
nav {display: grid; grid-template-rows: 0fr; transition: grid-template-rows 0.5s ease-out;}
nav ul {overflow: hidden;}
nav.open {grid-template-rows: 1fr;}


/******************MAIN******************/
main {
    background-color: var(--color-03); 
    font-family: var(--font-family-03); 
    color: var(--color-02);
    padding: 10px;
}

h1 {text-align: center; color: var(--color-01);}


/******************FORM DESIGN******************/
.join-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.membership-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.section-container {
    border: solid; 
    padding: 15px;
    margin: 5px;
    background-color: var(--color-01);
    border-radius: 15px;
}

.form-section {border-top: var(--color-04) solid 1px;}

.membership-form section {width: 100%;}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container input,
.form-container select {height: 1.6rem; font-size: 0.8rem; text-align: left;}

#business-description, textarea {font-size: 0.8rem; text-align: left; padding: 5px;}

.form-container input,
.form-container textarea,
.form-container select {
    padding: 0 5px;
    border-radius: 5px;
    border: var(--color-02) solid 2px;
    width: 90%;
    margin: 7px;
}


/******************SUBMIT BUTTON AND DETAILS BUTTON******************/
.btn {
    width: 100%; 
    padding: 10px;
    background-color: var(--color-02);
    margin: 10px;
    color: var(--color-01);
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {background-color: var(--color-04);}

/******************ICON******************/
.membership-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    padding: 10px;
}

.membership-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    background-color: var(--color-01);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 550px; 
}

.membership-container img {
    margin-bottom: 10px; 
}

.btnDetails {
    width: 100%; 
    padding: 10px;
    background-color: var(--color-02);
    color: var(--color-01);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnDetails:hover {background-color: #BC0E0E;}


/******************ANIMATION/TRANSITION******************/
.membership-container:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    background-color: rgb(216, 236, 249);
}

.membership-container img {animation: pulse 1.5s infinite;}

@keyframes pulse {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.1); 
    }
    100% {
        transform: scale(1);
    }
}


/******************FOOTER AND SOCIALS******************/
footer {
    background-color: var(--color-04); 
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    font-family: var(--font-family-03);
    font-size: 0.8rem;
}

.footer-info, .footer-social, .footer-js {padding: 5px 0; /*Will reduce internal spacing*/}

.footer-social {
    display: flex;
    justify-content: center; /*Centering the icons*/
    gap: 8px; /*Space between the icons*/
}

#currentYear, #lastModified, p {color: var(--color-01);}

#lastModified {font-weight: 700; color: var(--color-01);}


/******************THANK YOU PAGE******************/
.thank-you-container {
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    text-align: center;
    background-color: var(--color-01); 
}

.check-icon {margin: 15px;}

.thank-you-container img {
    width: 80px;
    margin-bottom: 10px;
}

.ty {
    font-size: 24px; 
    margin-bottom: 15px;
    margin-top: -10px;
}

.msg {
    font-size: 14px; 
    line-height: 1.5;
    color: var(--color-01);
    padding-bottom: 20px; /*aumenta o espaço de baixo da mensagem*/
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-top: 20px;
}

.social-icons img {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
}

.box-tex {margin-top: 20px; color: var(--color-01);}

.button {
    display: inline-block;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-02);
    background-color: var(--color-01);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.button:hover {background-color: var(--color-02); color: var(--color-01);}

.box {background-color: var(--color-04); width: 100%; padding: 5px;}