/*THIS CSS FILE IS FOR SMALL DEVICES*/

* {padding: 0; margin: 0; box-sizing: border-box;}

:root {
    --font-family-01: "Roboto";
    --font-family-02: "Open Sans";
    --font-family-03: "Poppins";
  
    --color-01: #ffffff;
    --color-02: #000000;
    --color-03: #1E4AC4;
    --color-04: #BC0E0E;
}

/*HEADER, TITLE AND LOGO IMG*/
header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    align-items: end;
    background-color: var(--color-01);
    padding: 1rem;
    align-items: center;
}

.company-name {
    font-family: var(--font-family-03); 
    font-size: 1.2rem;
    color: var(--color-02);
    padding: 1rem;
    text-align: center;
    font-weight: 600;
}

/*NAVIGATION TAGS*/
nav {background-color: var(--color-04);}

.logo-img {margin: 10px;}

#myButton::before {content: "=";}

#myButton {
    font-size: 2rem; /*making the hamburger button bigger*/
    background: none;
    border: none;
    color: var(--color-04);
    cursor: pointer;
    width: 100%;
    text-align: right; /*Will be able to chage the ham button to left or right*/
    padding: .25rem 2vw; /*also will help in the size of the button. Min size is 320x47*/
}

ul.menuLinks li a { /*Will change all the default color of my links in the nav bar*/
    display: block;
    padding: .75rem 2vw;
    color: var(--color-01);
    text-decoration: none;
    font-family: var(--font-family-03);
}

li.current-menu-item a {background-color: rgb(0,0,0,0.2);} /*darker backgrouund in the current page*/

ul.menuLinks {list-style-type: none;} /*Will hide my menu for small devices. Also the list style will hide the dots for wide screen*/

/*CSS FOR OPEN HAMBURGER BUTTON*/
#myButton.open::before {content: "x";}

/*ANIMATED TRANSITION*/
nav {display: grid; grid-template-rows: 0fr; transition: grid-template-rows 0.5s ease-out;}

nav ul {overflow: hidden;}

nav.open {grid-template-rows: 1fr;}

/*MAIN SECTION - BUSINESSES CARDS*/
main {display: block; padding: 1rem; background-color: var(--color-01);}

/*Cards' style*/
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
	gap: 1.5rem;
	margin: 10px;
    font-family: var(--font-family-03);
}

.list {
	display: flex;
    flex-direction: column;
	width: 450px;
	margin: 0 auto;
	padding: 1rem;
}

.list .member-card:nth-child(odd) {
	background-color: var(--color-04);
}

.list .member-card:nth-child(even) {
	background-color: rgb(112, 10, 10);
}

.cardsViews {
	display: flex;
	justify-content: center;
	padding: 1rem;
	gap: 1rem;
}

.cardsViews img {
	height: auto;
	display: block;
	margin: 0 auto;
	padding-top: 1rem;
}

.list .cardsViews img {display: none;} /* remove image from the flow */

.cardsViews p, a {padding-top: 1rem;}

.member-card {
    background-color: var(--color-04);
    border-style: double; 
    color: var(--color-01); /*Title's color*/
    height: 330px;
    padding: 20px;
}

.member-card img {
	height: auto;
	display: block;
	margin: 0 auto;
	padding-top: 2rem;
    max-width: 150px; 
    height: auto; 
    display: block;
}

.member-card p, a {color: var(--color-01);} /*Will make the p color white*/

.list .member-card img {display: none;}

.list .member-card {font-size: 0.8rem; height: 110px; font-family: var(--font-family-03);}

#gridBtn { /*CSS FOR THE GRID BUTTON*/
	background-image: url('../images/grid_icon.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
	border: none;
	cursor: pointer;
	background-color: transparent;
	transition: background-color 0.3s ease;
	padding: 1rem;
}

#gridBtn:hover {background-color: rgb(83, 173, 251);}

#gridBtn.active {background-color: var(--color-03);}

#listBtn { /*CSS FOR THE GRID BUTTON*/
	background-image: url('../images/list_icon.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
	border: none;
	cursor: pointer;
	background-color: transparent;
	transition: background-color 0.3s ease;
	padding: 1rem;
}

#listBtn:hover {background-color: rgb(83, 173, 251);}

#listBtn.active {background-color: var(--color-03)}

/*FOOTER AND SOCIALS*/
footer {
    background-color: var(--color-04); 
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    font-family: var(--font-family-03);
    font-size: 0.8rem;
}

.footer-info, 
.footer-social, 
.footer-js {
    padding: 5px 0; /*Will reduce internal spacing*/
}

.footer-social {
    display: flex;
    justify-content: center; /*Centering the icons*/
    gap: 8px; /*Space between the icons*/
}

.social-icon {font-size: 2rem; color: var(--color-01);}

.social-icon:hover {color: var(--color-02);}

#currentYear, #lastModified, p {color: var(--color-01);}

#lastModified {font-weight: 700; color: var(--color-01);}