* {padding: 0; margin: 0; box-sizing: border-box;}

:root {
    --font-family-01: "Rubik";
    --font-family-02: "Roboto";
    --font-family-03: "Open Sans";
    --font-family-04: "Poppins";
  
    --color-01: #fff;
    --color-02: #E8E8E8;
    --color-03: #000;
    --color-04: #d06aff;
    --color-05: #ff81ff;
    --color-06: #4a184a;
    --color-07: rgb(70, 14, 14);
    --color-08: rgb(152, 245, 152);
    --color-09: #f8d7da;
}

body {margin: 0; padding: 0; font-family: var(--font-family-04)}


/*HEADER*/
header {
    display: flex;
    flex-direction: row;
    background-color: var(--color-06); 
    color: var(--color-01);
    align-items: center;
    justify-content: center;
    padding: 15px;
}

#header-img {width: 140px; margin-right: 20px;}

/*NAVIGATION BAR*/
nav {
    background-color: var(--color-04); 
    padding: 10px;
}

nav ul {list-style-type: none;}

nav a { 
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 8px;
    color: var(--color-03);
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 1.5px;
}

nav a:hover {
    text-decoration: overline;
    color: var(--color-01);
    padding: 8px 5px;
}


/*HAMBURGUER BUTTON*/
.hamburger {
    display: none;
    background: none;
    margin-left: 2px;
    color: var(--font-color-01);
    font-size: 2rem;
    cursor: pointer;
}

/*ADDING RULES FOR THE HAMBURGER NAVIGATION BAR*/
.hamburger {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--color-01);
    padding-left: 400px;
}

/*MAIN AND SECTIONS (MAIN NEEDS TO BE IN GRID)*/
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    max-width: 1220px;
    margin: 20px;
    gap: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*ALL SECTIONS BOXES*/
#s01, #s02, #s03 {
    border: 1px solid gray; 
    border-radius: 8px; 
    padding-bottom: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
}

/*SECTIONS GRIDS*/
#s01 {grid-column: 1 / 2;}

#s02 {grid-column: 2 / 3;}

#s03 {grid-column: 1 / 3;}

/*SECTION 1 LINKS*/
.course-work-links {display: block; margin-top: 50px; margin-left: 40px;}

/*CENTERING THE TEXT, GIVING THEM BLACK BACKGROUND*/
h2 {
    text-align: center;
    background-color: var(--color-03);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px 10px;
    text-align: center;
    color: var(--color-01);
}

/*SECTION 2*/
.sao-luis {
    width: 350px;  
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

figcaption {
    color: var(--font-color-03);
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

/*SECTION 3 BUTTONS*/
#course-button {
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    padding: 10px; 
    margin: 10px;
    gap: 10px;
}

button {
    background-color: var(--color-06);
    color: var(--color-01);
    width: 200px;
    padding: 15px;
    font-weight: 700;
    font-size: 100%;
    border-radius: 10px;
}

button:hover {
    background-color: var(--color-04);
    color: var(--color-03);
}

/*SECTION 3 -CONTENT AND CREDITS*/
#content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    margin: 20px;
    gap: 0.7rem;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}

.course-card {
    padding: 0.8rem;
    border-radius: 10px;
    text-align: center;
    margin: 0.6rem;
}

#credits {text-align: center;}

/* Style for completed courses and not completed courses*/
.course-card.completed {
    background-color: var(--color-08); /* Light background for completed courses */
    border-left: 5px solid green; /* Different border color */
    padding: 10px;
    font-style: italic;
    margin-bottom: 10px;
}

.course-card.not-completed {
    background-color: var(--color-09); 
    border-left: 5px solid red; 
    padding: 10px;
    margin-bottom: 10px;
}

/*FOOTER*/
footer {
    text-align: center; 
    background-color: var(--color-06); 
    color: var(--color-01); 
    padding: 40px;
}

/*RESPONSIVE STYLES*/
@media (min-width: 590px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}

@media (max-width: 1153px) {
	h1 {font-size: 25px;}

    main {
        display: flex; 
        flex-direction: column;
        text-align: center;
    }

    .navBar ul {display: none;}

    .navBar ul.open {display: flex; flex-direction: column;}

    .hamburger {display: block;}

    .navBar.open a {background: none; color: var(--font-color-01);}

    .navBar.open a:hover {background: none; color: var(--button-color);}

    button {width: 115px; padding: 10px;}

    h2 {font-size: 15px;}

    #header-img {width: 100px;}

    #s01, #s02, #s03 {
        width: 90%;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.9);
    }

    body {overflow-x: hidden;}

    #content {
        display: flex; 
        flex-direction: column;
    }
    
    .course-card {width: 370px;}
    

}